<head>
 <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Fredericka+the+Great|Open+Sans+Condensed:300" rel="stylesheet">
</head>

<body>
<h1>Traveling East to West: An Itinerary</h1>


  <table class="welcome" >


  <tr>
    <td> Wandering across the Eurasian continent:</td>
    <td><%= link_to 'View articles', controller: 'articles' %></td>
    <td><%=  link_to 'New article', new_article_path %></td>

  </tr>

</table>



  <img class="samarkand" src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Samarkand_city_sights.jpg" alt="Samarkand Bazaar"><br>
  <p>Image source: Yunuskhuja Tuygunkhujaev 2016</p>


</body>