
h1 {
 font-family: 'Amatic SC', cursive;
  font-size: 7rem;
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: center;

}

h2 {
 font-family: 'Amatic SC', cursive;
  font-size: 7rem;
  margin-bottom: 10px;
  margin-top: 5px;

}

h3 {
 font-family: 'Amatic SC', cursive;
  font-size: 3rem;
  margin-bottom: 10px;
  margin-top: 5px;
}


h4 {
     font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;

}

p {
    font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1rem;

}

table{
  margin-left: auto;
  margin-right: auto;

}

tr, td {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;
  padding: 15px;
}

th {
   font-family: 'Amatic SC', cursive;
  font-size: 2rem;
}


a {
text-decoration: none;
 font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;
text-align: center;



}

a:hover {
  text-decoration: underline;
  color: darkred;



}

.samarkand {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.welcome {
  padding: 5px;
  width: 50%;
  text-align: center;
}


.articleTable:hover {background-color: #f5f5f5}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
