<!DOCTYPE html>
<html lang ="en">
<head>
  <title>Traveling East to West</title>
  <meta name= "description" content= "A travel itinerary inspired by the Silk Road">
  <meta name="author" content= "Jen">


  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Fredericka+the+Great|Open+Sans+Condensed:300" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>




</head>
<body>


<%= yield %>


</body>
</html>
